
<div class="contentcontainer">
  <div class="headings altheading">
      <h2>Editing <%= @property.address1 %></h2>
  </div>

<%= render 'form' %>

<%= link_to 'Show', @property %> |
<%= link_to 'Back', properties_path %>
