<div id="page">
  <div class="wrapper">
    <div class="container">
<div id="content-zone" class="prepend-3 span-18 append-3 last">
<h2>Take the tour</h2>
<div class="outer"><div class="inner"><div class="sub acenter">

<div class="video"><embed src=""  type="application/x-shockwave-flash" width="600" height="470" allowscriptaccess="always" allowfullscreen="true"></embed></div>

<hr/>
<div class="clearfix"><a class="button fright" href="signup.html" title="Sign Up">Sign up</a>
<p class="aleft">A random but cool video from blip.tv. </p></div>
</div></div></div>
</div>
      
    </div>
  </div>
</div>